{% extends 'base.html' %}

{% block title %}Project Detail{% endblock %}

{% block content %}
    <header>
        <h1>Project Detail</h1>
    </header>

    <main>
        <h2>Tasks</h2>
        <a href="{% url 'create_task' %}">Create a new task</a>
    </main>
{% endblock %}