{% extends 'base.html' %}

{% block title %}Create a new project{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                
                <label for="id_name">Name:</label>
                <input type="text" name="name" id="id_name" required><br>
                
                <label for="id_description">Description:</label>
                <textarea name="description" id="id_description" required></textarea><br>
                
                <label for="id_owner">Owner:</label>
                <select name="owner" id="id_owner">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select><br>
                
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
{% endblock %}