{% extends 'base.html' %}

{% block title %}Project List{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>Project List</h1>
            {% if projects %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Owner</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.owner.username }}</td>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No projects available</p>
            {% endif %}
        </div>
    </main>
{% endblock %}